$TTL 60
@   IN  SOA mediacepat.id. admin.mediacepat.id. (
        2025101501 ; serial
        3600       ; refresh
        1800       ; retry
        604800     ; expire
        60 )       ; minimum

    IN  NS  ns.mediacepat.id.

@   IN  A   __PORTAL_IP__
ns  IN  A   __PORTAL_IP__

; Wildcard semua domain → diarahkan ke IP portal
*   IN  A   __PORTAL_IP__
